<div @onclick="OnClick"
     class="fixed w-screen h-screen top-0 left-0 @($"z-[{LowestInsideComponentZIndex}-1]") @(TransparentOutside ? "bg-transparent" : "bg-black/50)")"
>
</div>

@code {
    /*
     * SOURCE: https://stackoverflow.com/a/67720115
     */

    [Parameter] public int LowestInsideComponentZIndex { get; set; }
    [Parameter] public bool TransparentOutside { get; set; } = true;
    [Parameter] public EventCallback MethodToCallOnClick { get; set; }
    private async Task OnClick() => await MethodToCallOnClick.InvokeAsync(null);
}