@page "/"
@using matsugane.Components.Home
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

@if (_tracks == null)
{
    <p>Loading. Please Wait...</p>
}
else
{
    <StatsHeader Tracks="_tracks" />
}

@code {

    private Tracks? _tracks;

    protected override async Task OnInitializedAsync()
    {
        _tracks = await Tracks.Build(true);
    }
}