@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div id="time" class="w-full text-6xl text-center tabular-nums">
    @(DateTime.Now.ToString("HH:mm:ss"))
</div>

<script>
    /*
        Page will be initially rendered with time from the server.
        Time will be updated client-side with the following JavaScript
     */

    const time = document.querySelector("#time");

    setInterval(() => {
        time.innerHTML = new Date().toLocaleTimeString('en-US', {hour12: false})
    }, 250);
</script>
