@inherits LayoutComponentBase

<div>
    <NavMenu />

    <div class="container mx-auto py-10 flex flex-col gap-5">
        @Body
    </div>
</div>

@* <div id="blazor-error-ui" data-nosnippet> *@
@*     An unhandled error has occurred. *@
@*     <a href="." class="reload">Reload</a> *@
@*     <span class="dismiss">🗙</span> *@
@* </div> *@