<div class="sticky top-0 bg-neutral-950/50">
    <nav class="container mx-auto h-16 flex flex-row items-center">
        <div class="basis-1/2">
            <a href="/">matsugane</a>
        </div>

        <div class="basis-1/2 flex flex-row items-center justify-end">
            Last Refresh: @DateTime.Now.ToString("HH:mm:ss")
        </div>
    </nav>
</div>